<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">ngAuth0</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="/">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a *ngIf="!authService.isAuthenticated()" (click)="authService.login()">Login</a></li>
        <li><a *ngIf="authService.isAuthenticated()" routerLink="/profile">Profile</a></li>
        <li><a *ngIf="authService.isAuthenticated()" (click)="authService.logout()">Logout</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>



<div class="container">
    <router-outlet></router-outlet>    
</div>
